
.main-body {
    background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
    min-height: 100vh;
    color: white;
	background-position:center;
	padding-top: 30px;	
}
.heading {
    text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.menu {
    background: #009688;
    width:360px;
    height: 888px;
    float:left;
}
.container {
    width: 1260px;
    height: 888px;
    float: left;
    padding: 30px 30px 20px;
    box-sizing: border-box;
    background: white;
    color: black;
    font-size: 20px;
}
.table-container {
    width: 1660px;
    height: 888px;
    margin: auto;
    padding: 30px 30px 20px;
    box-sizing: border-box;
    background: white;
    color: black;
    font-size: 20px;
}
.menu-item {
    display: block;
    margin: auto;
    padding: 10px 25px;
    margin-top: 6px;
	background-color: #009688;
    border: 1px solid #00BCD4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline: 0;
	cursor: pointer;
}
.menu-item:hover {
    background-color: #E91E63;
    border: 1px solid red;
    color: white;
}
.item-link {
    text-decoration: none;
    color: white;
}
.form-part-1 {
    background: white;
    width:600px;
    height: 680px;
    float: left;
    color: black;
}
.form-part-2 {
    background: white;
    width:600px;
    height: 680px;
    float: left;
    color: black;
}
.form-part-3 {
    margin-top: 16px;
    width: 1200px;
    height: 50px;
    clear:both;
}
.submit {
    text-align: center;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 8px 20px 8px 20px;
    margin-top: 2px;
	background-color: #009688;
    border: 1px solid #00BCD4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline: 0;
	cursor: pointer;
}
.submit:hover {
    background-color: #E91E63;
    border: 1px solid red;
    color: white;
}
.table-sub-heading {
    height: 50px;
}
.add {
    width: 60px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    display: block;
    margin: 5px 88px 5px 5px;
    padding: 5px 5px;
	background-color: #009688;
    border: 1px solid #00BCD4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline: 0;
    cursor: pointer;
    float: right;
}
.add:hover {
    background-color: #E91E63;
    border: 1px solid red;
    color: white;
}
.form-label {
    display: inline-block;
    width: 20%;
    height: 50px;
    font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
    vertical-align: top;
    margin-left: 50px;
}
.form-text {
    width: 60px;
    margin-left: 80px;
}
.form-number {
    width: 36px;
    margin-left: 80px;
}
.form-radio {
    margin-left: 260px;
}
input[type="submit"] {
    display: block;
    margin: auto;
    padding: 10px 25px;
    margin-top: 25px;
	background-color: #009688;
    border: 1px solid #00BCD4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline: 0;
	cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #E91E63;
    border: 1px solid red;
    color: white;
}

.tabtop13 {
    margin-top: 13px;
    border-style: solid none solid solid;
    border-width: thin 0 thin thin;
}
.tabtop13 td{
	background-color:#ffffff;
	height:25px;
	line-height:150%;
    border-style: solid solid none none;
    border-width: thin thin 0 0;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.titfont {
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
	background-color:#e9faff;
}

@media screen and (max-width: 640px){
	.container {
        width: 560px;
        padding: 30px 15px 20px;
        font-size: 22px;
    }
    .form-number {
        width: 36px;
        margin-left: 80px;
    }
    .form-radio {
        margin-left: 220px;
    }
}

@media screen and (max-width: 480px){
	.container {
        width: 430px;
        padding: 17px 10px 20px;
        font-size: 20px;
    }	
    .form-number {
        width: 36px;
        margin-left: 60px;
    }
    .form-radio {
        margin-left: 200px;
    }
}

@media screen and (max-width: 414px){
    .container {
        width: 350px;
        font-size: 18px;
    }
    .form-number {
        width: 36px;
        margin-left: 40px;
    }
    .form-radio {
        margin-left: 160px;
    }
}

@media screen and (max-width: 375px){
	.container {
        width: 320px;
        font-size: 16px;
    }
    .form-number {
        width: 36px;
        margin-left: 20px;
    }
    .form-radio {
        margin-left: 120px;
    }
}

@media screen and (max-width: 320px){
    .container {
        width: 270px;
        padding: 15px 5px 15px;
        font-size: 15px;
    }
    .form-number {
        width: 36px;
        margin-left: 5px;
    }
    .form-radio {
        margin-left: 100px;
    }
}
