<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

    <!-- Bootstrap core CSS -->
	<link href="/templates/upload_materials/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
	<link href="/templates/upload_materials/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="/templates/upload_materials/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
	<link href="/templates/upload_materials/assets/css/style.css" rel="stylesheet">
	<link href="/templates/upload_materials/assets/css/style-responsive.css" rel="stylesheet">

	<script src="/templates/upload_materials/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>数据库系统</b></a>
            <!--logo end-->
            <div class="top-menu">
            </div>
        </header>

      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <li class="mt">
		          <a href="/list">
                          <i class="fa fa-dashboard"></i>
                          <span>病例列表</span>
                      </a>
                  </li>

                  <li class="sub-menu">
		          <a href="/base?patient_id={{patient_id}}">
                          <i class="fa fa-dashboard"></i>
                          <span>基本信息</span>
                      </a>
                  </li>

                  <li class="sub-menu">
		          <a href="/radio?patient_id={{patient_id}}">
                          <i class="fa fa-dashboard"></i>
                          <span>放射报告</span>
                      </a>
                  </li>

                  <li class="sub-menu">
		          <a href="/upload?patient_id={{patient_id}}">
                          <i class="fa fa-dashboard"></i>
                          <span>上传图片</span>
                      </a>
                  </li>

                  <li class="sub-menu">
	                  <a href="/show?patient_id={{patient_id}}">
                          <i class="fa fa-desktop"></i>
                          <span>查阅图片</span>
                      </a>
	          </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> 查阅图片</h3>
          	<hr>
				<div class="row mt" id="vm">
                                    <template v-for="pic in pics">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
						<div class="project-wrapper">
		                    <div class="project">
		                        <div class="photo-wrapper">
		                            <div class="photo">
						 <a class="fancybox" :href="pic"><img class="img-responsive" :src="pic" alt=""></a>
		                            </div>
		                            <div class="overlay"></div>
		                        </div>
		                    </div>
		                </div>
					</div><!-- col-lg-4 -->
			        </template>
				</div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2020 - 熠旦科技
              <a href="gallery.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="/templates/upload_materials/assets/js/fancybox/jquery.fancybox.js"></script>    
	<script src="/templates/upload_materials/assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/templates/upload_materials/assets/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/templates/upload_materials/assets/js/jquery.scrollTo.min.js"></script>
	<script src="/templates/upload_materials/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
	<script src="/templates/upload_materials/assets/js/common-scripts.js"></script>

    <!--script for this page-->
  
  <script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });

  </script>
  
  <script>
      //custom select box

       
      var vm = new Vue({
            el: '#vm',
            data: {
                    pics: []
            },
           mounted(){
             this.init();
           },
            methods: {
               init:function(){
                 this.$http.get('/api/pics?patient_id={{patient_id}}').then(function(res){
                   console.log(res.data)
                   this.pics = res.data;
                   for (i=0;i<this.pics.length;i++){
                     this.pics[i] = "/images/uploads/" + "{{patient_id}}"+"/" + this.pics[i]
                   }
                 },function(){
                    console.log('error');
                 });
               }
            }
        });



  </script>

  </body>
</html>
