<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    

    <script src="assets/js/chart-master/Chart.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.js"></script>
    
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">3</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                    <p class="green">您有三个任务需完成</p>
                                </li>
                                <li>
                                        <a href="#">
                                            <span class="message">
                                                病例FZ00101需完善放疗后问卷
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="message">
                                                病例FZ00102需填写基线问卷
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                            <a href="#">
                                                <span class="message">
                                                    病例FZ00103需填写基线问卷
                                                </span>
                                            </a>
                                        </li>
                                    <li class="external">
                                        <a href="#">查看所有任务</a>
                                    </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">2</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                    <p class="green">您有2条新消息</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                        <span class="subject">
                                        <span class="from">刘教授</span>
                                        <span class="time">刚刚</span>
                                        </span>
                                        <span class="message">
                                            邀请您参加研究者会议
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                        <span class="subject">
                                        <span class="from">张同学</span>
                                        <span class="time">40分钟前</span>
                                        </span>
                                        <span class="message">
                                         咨询统计问题
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">查看所有消息</a>
                                </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">退出</a></li>
            	</ul>
            </div>
        </header>
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="#"><img src="assets/img/ic_person.png" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">研究管理员</h5>
              	  	
                        <li class="mt">
                            <a href="/index">
                                <i class="fa fa-dashboard"></i>
                                <span>研究主页</span>
                            </a>
                        </li>
                        
                        <li class="sub-menu">
                            <a href="/list">
                                <i class="fa fa-tasks"></i>
                                <span>病例列表</span>
                            </a>
                        </li>
                    
                        <li class="sub-menu">
                            <a class="active" href="/templates/download.html">
                                <i class="fa fa-th"></i>
                                <span>下载数据</span>
                            </a>
                        </li>
                        
                        <li class="sub-menu">
                            <a href="/templates/chartjs.html">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>统计概况</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                              <a href="/templates/login.html">
                                  <i class="fa fa-cogs"></i>
                                  <span>账户信息</span>
                              </a>
                          </li>

                        <li class="sub-menu">
                              <a href="/templates/lock_screen.html">
                                  <i class="fa fa-desktop"></i>
                                  <span>锁定屏幕</span>
                              </a>
                        </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
            <section class="wrapper site-min-height">
                <div style="padding-left:5%;padding-top:20px;padding-right:5%">
  
                <div class="row" id="vm">
                    <div style="padding-left:20px;padding-top:10px">
                        <h3>下载数据</h3>
                        <br>
                        <p>目前支持Excel文件的下载</p>
                        <br>
                    </div>
                    <div class="col-lg-9 main-chart">
                    
                        <div class="row mtbox">
                            <div class="col-md-2 col-sm-2 box0">
                                <div class="box1">
                                    <div style="clear:both;margin:0 auto;">
                                        <button v-on:click="download_xls" style="width:60px;height:60px;background:url(/templates/assets/img/download_xls.png);background-size:cover;padding:15px;border-style:none"></button>
                                    </div>
                                    <h3>Excel</h3>
                                </div>
                                    <p>存储为Excel文件</p>
                            </div>
                            <div class="col-md-2 col-sm-2 box0">
                                <div class="box1">
                                    <div style="clear:both;margin:0 auto;">
                                        <button style="width:60px;height:60px;background:url(/templates/assets/img/download_pdf.png);background-size:cover;padding:15px;border-style:none"></button>
                                    </div>
                                    <h3>PDF</h3>
                                </div>
                                    <p>存储为PDF文件</p>
                            </div>
                        </div><!-- /row mt -->	
                    
                    </div><!-- /col-lg-9 END SECTION MIDDLE -->
   
                </div><!--/row -->
            </div>
            </section>
        </section>
        <!--main content end-->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js"></script>    
	<script src="assets/js/zabuto_calendar.js"></script>
	
	<script type="application/javascript">
        var vm = new Vue({
                el: '#vm',
                methods:{
                    download_xls1: function(event) {
                        event.preventDefault();
                        this.$http.get('/downloadExcel',data,{emulateJSON:true}).then(function(res){
                            
                        },function(res){
                            console.log(res.status);
                        });
                    },
                    getBlob: function(url) {
                        return new Promise(res => {
                            const xhr = new XMLHttpRequest();
                            xhr.open('GET', url, true);
                            xhr.responseType = 'blob';
                            xhr.onload = () => {
                                if (xhr.status === 200) {
                                    res(xhr.response);
                                }
                            };
                            xhr.send();
                        });
                    },
                    saveAs: function(blob, filename) {
                        if (window.navigator.msSaveOrOpenBlob) {
                            // Internet Explorer 10 的 msSaveBlob 和 msSaveOrOpenBlob 方法允许用户在客户端上保存文件
                            navigator.msSaveBlob(blob, filename);
                        } else {
                            const url_object = window.URL || window.webkitURL || window;
                            const save_link = document.createElement('a');
                            const click_event = new MouseEvent('click');
                            save_link.href = url_object.createObjectURL(blob);
                            save_link.download = filename;
                            save_link.dispatchEvent(click_event);
                            url_object.revokeObjectURL(save_link.href);
                        }
                    },
                    download: function(url, filename) {
                        this.getBlob(url).then(blob => {
                            this.saveAs(blob, filename);
                        });
                    },
                    download_xls: function(event) {
                        console.log("ajaxDownloadSynchronized");
                        this.download('/downloadExcel', 'data.xls');
                    }

                }
            });
    </script>

  </body>
</html>
