<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

        <link href="/templates/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/templates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/templates/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="/templates/assets/css/style.css" rel="stylesheet">
        <link href="/templates/assets/css/style-responsive.css" rel="stylesheet">

        <script src="/templates/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <link rel="stylesheet" href="css/style_2036.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="top-menu">
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
                <li class="mt">
                    <a href="/list">
                        <i class="fa fa-tasks"></i>
                        <span>病例列表</span>
                    </a>
                </li>
            
                <li class="sub-menu">
                    <a href="/base?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>基本信息</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/lab?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>检验报告</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/pathology?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>病理报告</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/surgery?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>手术记录</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/chemotherapy?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>化疗记录</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/radiotherapy?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>放疗记录</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/follow_up?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>随访记录</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/upload?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>上传图片</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/show?patient_id={{patient_id}}">
                        <i class="fa fa-tasks"></i>
                        <span>查阅图片</span>
                    </a>
                </li>
        
              </ul>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>化疗记录</h3>
                <hr>
            
                <form id="vm" v-on:submit="submit">
                    <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                    <div class="form-part">
                    <div class="block">
                        <h3></h3>
                        <div>
                            <label class="form-label">化疗方案:</label>
                            <input type="radio" id="xelox" value="xelox" v-model="chemo_way" >
                            <label for="xelox">XELOX方案&nbsp;&nbsp;</label>
                            <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way" >
                            <label for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                            <input type="radio" id="cap" value="cap" v-model="chemo_way" >
                            <label for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                            <input type="radio" value="other" v-model="chemo_way" >
                            <label for="other">其他：&nbsp;</label>
                            <input type="text" class="form-text" v-model="chemo_way_other"  ><br/><br/>
                        </div>
                        <div>
                            <label class="form-label">上次化疗时间: </label>
                            <el-date-picker v-model="last_chemo" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <table width="100%" border="0" cellspacing="1" cellpadding="4" class="tabtop13" align="center">
                            <tr>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">化疗时间</td>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">化疗方案</td>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">描述</td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_0" type="date" placeholder="Pick a day" ></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_0" >
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_0" >
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_0" >
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_0" ></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_1" type="date" placeholder="Pick a day" ></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_1" >
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_1" >
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_1" >
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_1" ></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_2" type="date" placeholder="Pick a day" ></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_2" >
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_2" >
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_2" >
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_2" ></td>
                            </tr>
                        </table>
                        <label style="font-size:12px">注：第一行<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二行</label><br/><br/>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                </div>    
            </form>
        
            </section>
      </section>

      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="gallery.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
        <script src="/templates/assets/js/fancybox/jquery.fancybox.js"></script>
        <script src="/templates/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/templates/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/templates/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/templates/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
        <script src="/templates/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript">
        $(function() {
            jQuery(".fancybox").fancybox();
        });
    </script>
    <script>
    var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    chemo_way: "{{chemo_way}}",
                    chemo_way_other: "{{chemo_way_other}}",
                    last_chemo: new Date(parseInt("{{last_chemo}}")*1000),
                    chemo_time_0: new Date(parseInt("{{chemo_time_0}}")*1000),
                    chemo_time_1: new Date(parseInt("{{chemo_time_1}}")*1000),
                    chemo_time_2: new Date(parseInt("{{chemo_time_2}}")*1000),
                    chemo_way_0: "{{chemo_way_0}}",
                    chemo_way_1: "{{chemo_way_1}}",
                    chemo_way_2: "{{chemo_way_2}}",
                    desc_0: "{{desc_0}}",
                    desc_1: "{{desc_1}}",
                    desc_2: "{{desc_2}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/chemotherapy?patient_id={{patient_id}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.chemo_way=res.data.chemo_way;
                        this.chemo_way_other=res.data.chemo_way_other;
                        this.last_chemo=new Date(parseInt(res.data.last_chemo)*1000);
                        if (isNaN(this.last_chemo.getTime())) this.last_chemo="";
                        this.chemo_time_0=new Date(parseInt(res.data.chemo_time_0)*1000);
                        if (isNaN(this.chemo_time_0.getTime())) this.chemo_time_0="";
                        this.chemo_time_1=new Date(parseInt(res.data.chemo_time_1)*1000);
                        if (isNaN(this.chemo_time_1.getTime())) this.chemo_time_1="";
                        this.chemo_time_2=new Date(parseInt(res.data.chemo_time_2)*1000);
                        if (isNaN(this.chemo_time_2.getTime())) this.chemo_time_2="";
                        this.chemo_way_0=res.data.chemo_way_0;
                        this.chemo_way_1=res.data.chemo_way_1;
                        this.chemo_way_2=res.data.chemo_way_2;
                        this.desc_0=res.data.desc_0;
                        this.desc_1=res.data.desc_1;
                        this.desc_2=res.data.desc_2;
                        if (this.chemo_way!="other") this.chemo_way_other = "";
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    if (this.last_chemo!="") this.last_chemo=this.last_chemo.getTime()/1000;
                    if (this.chemo_time_0!="") this.chemo_time_0=this.chemo_time_0.getTime()/1000;
                    if (this.chemo_time_1!="") this.chemo_time_1=this.chemo_time_1.getTime()/1000;
                    if (this.chemo_time_2!="") this.chemo_time_2=this.chemo_time_2.getTime()/1000;
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        chemo_way: this.chemo_way,
                        chemo_way_other: this.chemo_way_other,
                        last_chemo: this.last_chemo,
                        chemo_time_0: this.chemo_time_0,
                        chemo_time_1: this.chemo_time_1,
                        chemo_time_2: this.chemo_time_2,
                        chemo_way_0: this.chemo_way_0,
                        chemo_way_1: this.chemo_way_1,
                        chemo_way_2: this.chemo_way_2,
                        desc_0: this.desc_0,
                        desc_1: this.desc_1,
                        desc_2: this.desc_2
                    };
                    this.$http.post('/chemotherapy',data,{emulateJSON:true}).then(function(res){
                        document.write(res.body);    
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>