<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data System</title>
    <link rel="stylesheet" href="css/style_186.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="heading">
            <h1>临床科研数据库系统</h1>
        </div>
        <div id="menu" class="menu">
            <div style="text-align:center">
                <h3>导航栏</h3>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/list">
                    <div>病例列表</div>
                </a>
            </div>
            
            <div class="menu-item">
                <a class="item-link" href="/base?patient_id={{patient_id}}">
                    <div>基本信息</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/lab?patient_id={{patient_id}}">
                    <div>检验报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/pathology?patient_id={{patient_id}}">
                    <div>病理报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/surgery?patient_id={{patient_id}}">
                    <div>手术记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/chemotherapy?patient_id={{patient_id}}">
                    <div>化疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/radiotherapy?patient_id={{patient_id}}">
                    <div>放疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/follow_up?patient_id={{patient_id}}">
                    <div>随访记录</div>
                </a>
            </div>
        </div>
        <div class="container">
            <div style="text-align:center">
                <h2>随访记录</h2>
            </div>
            <br>
            <form id="vm" v-on:submit="submit">
                <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                <div class="form-part">
                    <div class="block">
                        <h3></h3>
                        <div>
                            <label class="form-label">是否复发:</label>
                            <input type="radio" id="yes" value="yes" v-model="recurrance" >
                            <label for="yes">是&nbsp;&nbsp;</label>
                            <input type="radio" id="no" value="no" v-model="recurrance" >
                            <label for="no">否&nbsp;&nbsp;</label><br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                </div>    
            </form>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    recurrance: "{{recurrance}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/follow_up?patient_id={{patient_id}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.recurrance=res.data.recurrance;
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        recurrance: this.recurrance
                    };
                    this.$http.post('/follow_up',data,{emulateJSON:true}).then(function(res){
                        document.write(res.body);    
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>