<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data System</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="heading">
            <h1>临床科研数据库系统</h1>
        </div>
        <div id="menu" class="menu">
            <div style="text-align:center">
                <h3>导航栏</h3>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/list">
                    <div>病例列表</div>
                </a>
            </div>
            
            <div class="menu-item">
                <a class="item-link" href="/base?patient_id={{patient_id}}">
                    <div>基本信息</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/lab?patient_id={{patient_id}}">
                    <div>检验报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/pathology?patient_id={{patient_id}}">
                    <div>病理报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/surgery?patient_id={{patient_id}}">
                    <div>手术记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/chemotherapy?patient_id={{patient_id}}">
                    <div>化疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/radiotherapy?patient_id={{patient_id}}">
                    <div>放疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/follow_up?patient_id={{patient_id}}">
                    <div>随访记录</div>
                </a>
            </div>
        </div>
        <div class="container">
            <div style="text-align:center">
                <h2>病理报告</h2>
            </div>
            <br>
            <form id="vm" v-on:submit="submit">
                <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                <div class="form-part-1">
                    <div>
                        <label class="form-label">病理诊断: </label>
                        <input class="form-text" v-model="patho_diagnosis" >
                        <br><br>
                    </div>
                    <div>
                        <label class="form-label">脉管癌栓: </label>
                        <br>
                        <input class="form-radio" type="radio" id="yes" value="yes" v-model="lym_vas_invasion" >
                        <label for="yes">是</label>
                        <br>
                        <input class="form-radio" type="radio" id="no" value="no" v-model="lym_vas_invasion" >
                        <label for="no">否</label>
                        <br><br>
                    </div>
                    <div>
                        <label class="form-label">淋巴结数: </label>
                        <input class="form-number" type="number" v-model.number="tot_lymph_node" >
                        <label>&nbsp;</label>
                        <br><br>
                    </div>
                </div>
                <div class="form-part-2">
                    <div>
                        <label class="form-label">浸润深度: </label>
                        <input class="form-text" v-model="deep" >
                        <br><br>
                    </div>
                    <div>
                        <label class="form-label">神经侵犯: </label>
                        <br>
                        <input class="form-radio" type="radio" id="yes" value="yes" v-model="pni" >
                        <label for="yes">是</label>
                        <br>
                        <input class="form-radio" type="radio" id="no" value="no" v-model="pni" >
                        <label for="no">否</label>
                        <br><br>
                    </div>
                    <div>
                        <label class="form-label">淋巴阳性: </label>
                        <input class="form-number" type="number" v-model.number="pos_lymph_node" >
                        <label>&nbsp;</label>
                        <br><br>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                </div>    
            </form>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#vm',
            data: {
                patient_id: "{{patient_id}}" ,
                patho_diagnosis: "{{patho_diagnosis}}" ,
                lym_vas_invasion: "{{lym_vas_invasion}}" ,
                tot_lymph_node: "{{tot_lymph_node}}" ,
                deep: "{{deep}}" ,
                pni: "{{pni}}" ,
                pos_lymph_node: "{{pos_lymph_node}}" 
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                this.$http.get('/api/pathology?patient_id={{patient_id}}').then(function(res){
                    this.patient_id=res.data.patient_id;
                    this.patho_diagnosis=res.data.patho_diagnosis;
                    this.lym_vas_invasion=res.data.lym_vas_invasion;
                    this.tot_lymph_node=res.data.tot_lymph_node;
                    this.deep=res.data.deep;
                    this.pni=res.data.pni;
                    this.pos_lymph_node=res.data.pos_lymph_node;
                },function(){
                    console.log('error');
                });
                },
                submit: function(event) {
                    event.preventDefault();
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        patho_diagnosis: this.patho_diagnosis,
                        lym_vas_invasion: this.lym_vas_invasion,
                        tot_lymph_node: this.tot_lymph_node,
                        deep: this.deep,
                        pni: this.pni,
                        pos_lymph_node: this.pos_lymph_node
                    };
                    this.$http.post('/pathology',data,{emulateJSON:true}).then(function(res){
                        document.write(res.body);    
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>