<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data System</title>
    <link rel="stylesheet" href="css/style_1871.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="heading">
            <h1>临床科研数据库系统</h1>
        </div>
        <div id="menu" class="menu">
            <div style="text-align:center">
                <h3>导航栏</h3>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/list">
                    <div>病例列表</div>
                </a>
            </div>
            
            <div class="menu-item">
                <a class="item-link" href="/base?patient_id={{patient_id}}">
                    <div>基本信息</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/lab?patient_id={{patient_id}}">
                    <div>检验报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/pathology?patient_id={{patient_id}}">
                    <div>病理报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/surgery?patient_id={{patient_id}}">
                    <div>手术记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/chemotherapy?patient_id={{patient_id}}">
                    <div>化疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/radiotherapy?patient_id={{patient_id}}">
                    <div>放疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/follow_up?patient_id={{patient_id}}">
                    <div>随访记录</div>
                </a>
            </div>
        </div>
        <div class="container">
            <div style="text-align:center">
                <h2>放疗记录</h2>
            </div>
            <br>
            <form id="vm" v-on:submit="submit">
                <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                <div class="form-part">
                    <div class="block">
                        <h3></h3>
                        <div>
                            <label class="form-label">放疗次数: </label>
                            <input class="form-number" type="number" v-model.number="radio_count" >
                            <label>&nbsp;</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">放疗开始: </label>
                            <el-date-picker v-model="radio_start" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">放疗结束: </label>
                            <el-date-picker v-model="radio_end" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                </div>    
            </form>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    radio_count: "{{radio_count}}",
                    radio_start: new Date(parseInt("{{radio_start}}")*1000),
                    radio_end: new Date(parseInt("{{radio_end}}")*1000)
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/radiotherapy?patient_id={{patient_id}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.radio_count=res.data.radio_count;
                        this.radio_start=new Date(parseInt(res.data.radio_start)*1000);
                        if (isNaN(this.radio_start.getTime())) this.radio_start="";
                        this.radio_end=new Date(parseInt(res.data.radio_end)*1000);
                        if (isNaN(this.radio_end.getTime())) this.radio_end="";
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    if (this.radio_start!="") this.radio_start=this.radio_start.getTime()/1000;
                    if (this.radio_end!="") this.radio_end=this.radio_end.getTime()/1000;
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        radio_count: this.radio_count,
                        radio_start: this.radio_start,
                        radio_end: this.radio_end
                    };
                    this.$http.post('/radiotherapy',data,{emulateJSON:true}).then(function(res){
                        document.write(res.body);    
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>