<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data System</title>
    <link rel="stylesheet" href="css/style_1876.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="heading">
            <h1>临床科研数据库系统</h1>
        </div>
        <div id="menu" class="menu">
            <div style="text-align:center">
                <h3>导航栏</h3>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/list">
                    <div>病例列表</div>
                </a>
            </div>
            
            <div class="menu-item">
                <a class="item-link" href="/base?patient_id={{patient_id}}">
                    <div>基本信息</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/lab?patient_id={{patient_id}}">
                    <div>检验报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/pathology?patient_id={{patient_id}}">
                    <div>病理报告</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/surgery?patient_id={{patient_id}}">
                    <div>手术记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/chemotherapy?patient_id={{patient_id}}">
                    <div>化疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/radiotherapy?patient_id={{patient_id}}">
                    <div>放疗记录</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="item-link" href="/follow_up?patient_id={{patient_id}}">
                    <div>随访记录</div>
                </a>
            </div>
        </div>
        <div class="container">
            <div style="text-align:center">
                <h2>化疗记录</h2>
            </div>
            <br>
            <form id="vm" v-on:submit="submit">
                <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                <div class="form-part">
                    <div class="block">
                        <h3></h3>
                        <div>
                            <label class="form-label">化疗方案:</label>
                            <input type="radio" id="xelox" value="xelox" v-model="chemo_way" disabled>
                            <label for="xelox">XELOX方案&nbsp;&nbsp;</label>
                            <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way" disabled>
                            <label for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                            <input type="radio" id="cap" value="cap" v-model="chemo_way" disabled>
                            <label for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                            <input type="radio" value="other" v-model="chemo_way" disabled>
                            <label for="other">其他：&nbsp;</label>
                            <input type="text" class="form-text" v-model="chemo_way_other"  disabled><br/><br/>
                        </div>
                        <div>
                            <label class="form-label">上次化疗时间: </label>
                            <el-date-picker v-model="last_chemo" type="date" placeholder="Pick a day" disabled></el-date-picker>
                            <br/><br/>
                        </div>
                        <table width="100%" border="0" cellspacing="1" cellpadding="4" class="tabtop13" align="center">
                            <tr>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">化疗时间</td>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">化疗方案</td>
                                <td width="30%" style="background:#e9faff !important; text-align:center;
                                font-family: 微软雅黑;font-size: 16px;font-weight: bold;color: #255e95;
                                background-color:#e9faff;">描述</td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_0" type="date" placeholder="Pick a day" disabled></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_0" disabled>
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_0" disabled>
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_0" disabled>
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_0" disabled></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_1" type="date" placeholder="Pick a day" disabled></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_1" disabled>
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_1" disabled>
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_1" disabled>
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_1" disabled></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><el-date-picker v-model="chemo_time_2" type="date" placeholder="Pick a day" disabled></el-date-picker></td>
                                <td style="text-align: center">
                                    <input type="radio" id="xelox" value="xelox" v-model="chemo_way_2" disabled>
                                    <label style="font-size:12px" for="xelox">XELOX方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="xeliri" value="xeliri" v-model="chemo_way_2" disabled>
                                    <label style="font-size:12px" for="xeliri">XELIRI方案&nbsp;&nbsp;</label>
                                    <input type="radio" id="cap" value="cap" v-model="chemo_way_2" disabled>
                                    <label style="font-size:12px" for="cap">卡培他滨单药&nbsp;&nbsp;</label>
                                </td>
                                <td style="text-align: center"><input style="width:90%; height:90%" v-model="desc_2" disabled></td>
                            </tr>
                        </table>
                        <label style="font-size:12px">注：第一行<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二行</label><br/><br/>
                    </div></div>
                <div class="form-part-3">
                    <button class="submit" type="button" v-on:click="edit">编辑</button>
                </div>    
            </form>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    chemo_way: "{{chemo_way}}",
                    chemo_way_other: "{{chemo_way_other}}",
                    last_chemo: new Date(parseInt("{{last_chemo}}")*1000),
                    chemo_time_0: new Date(parseInt("{{chemo_time_0}}")*1000),
                    chemo_time_1: new Date(parseInt("{{chemo_time_1}}")*1000),
                    chemo_time_2: new Date(parseInt("{{chemo_time_2}}")*1000),
                    chemo_way_0: "{{chemo_way_0}}",
                    chemo_way_1: "{{chemo_way_1}}",
                    chemo_way_2: "{{chemo_way_2}}",
                    desc_0: "{{desc_0}}",
                    desc_1: "{{desc_1}}",
                    desc_2: "{{desc_2}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    if (this.chemo_way!="other") this.chemo_way_other = "";
                },
                submit:function(){
                    return 0;
                },
                edit:function(){
                    window.location.href="/chemotherapy?patient_id={{patient_id}}&edit=1";
                }
            }
        });
    </script>
</body>
</html>