<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

        <link href="/templates/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/templates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/templates/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="/templates/assets/css/style.css" rel="stylesheet">
        <link href="/templates/assets/css/style-responsive.css" rel="stylesheet">

        <script src="/templates/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <link rel="stylesheet" href="css/style_2036.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="top-menu">
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
                {% raw side_menu %}
            
              </ul>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>影像学及肠镜检查结果</h3>
                <hr>
            
                <form id="vm" v-on:submit="submit">
                    <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                    <div class="form-part">
                    <div class="block">
                        <h3>胸部CT</h3>
                        <div>
                            <label class="form-label">胸部CT结果:</label>
                            <input type="radio" id="normal" value="normal" v-model="chest_CT_result" >
                            <label for="normal">无殊&nbsp;&nbsp;</label>
                            <input type="radio" value="other" v-model="chest_CT_result" >
                            <label for="other">其他：&nbsp;</label>
                            <input type="text" class="form-text" v-model="chest_CT_result_other"  ><br/><br/>
                        </div>
                    </div>
                    <div class="block">
                        <h3>腹部CT</h3>
                        <div>
                            <label class="form-label">腹部CT结果:</label>
                            <input type="radio" id="normal" value="normal" v-model="abdomen_CT_result" >
                            <label for="normal">无殊&nbsp;&nbsp;</label>
                            <input type="radio" value="other" v-model="abdomen_CT_result" >
                            <label for="other">其他：&nbsp;</label>
                            <input type="text" class="form-text" v-model="abdomen_CT_result_other"  ><br/><br/>
                        </div>
                    </div>
                    <div class="block">
                        <h3>盆腔MRI</h3>
                        <div>
                            <label class="form-label">盆腔MRI结果: </label>
                            <input class="form-text" v-model="pelvic_MRI_result" >
                            <br/><br/>
                        </div>
                    </div>
                    <div class="block">
                        <h3>肠镜</h3>
                        <div>
                            <label class="form-label">肿瘤距肛距离: </label>
                            <input class="form-number" type="number" v-model.number="tumor_dist_from_anal" >
                            <label>&nbsp;cm</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">环周: </label>
                            <input class="form-number" type="number" v-model.number="tumour_circle" >
                            <label>&nbsp;圈</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">肿瘤长度: </label>
                            <input class="form-number" type="number" v-model.number="tumor_length" >
                            <label>&nbsp;cm</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">肠镜是否可通过:</label>
                            <input type="radio" id="yes" value="yes" v-model="can_pass" >
                            <label for="yes">是&nbsp;&nbsp;</label>
                            <input type="radio" id="no" value="no" v-model="can_pass" >
                            <label for="no">否&nbsp;&nbsp;</label><br/><br/>
                        </div>
                    </div>
                    <div class="block">
                        <h3>腔内超声</h3>
                        <div>
                            <label class="form-label">T分期: </label>
                            <input class="form-text" v-model="t_stage" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">N分期: </label>
                            <input class="form-text" v-model="n_stage" >
                            <br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                    <button class="remove" type="button" v-on:click="remove">删除</button>
                </div>    
            </form>
        
            </section>
      </section>

      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
        <script src="/templates/assets/js/fancybox/jquery.fancybox.js"></script>
        <script src="/templates/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/templates/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/templates/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/templates/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
        <script src="/templates/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript">
        $(function() {
            jQuery(".fancybox").fancybox();
        });
    </script>
    <script>
    var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    chest_CT_result: "{{chest_CT_result}}",
                    chest_CT_result_other: "{{chest_CT_result_other}}",
                    abdomen_CT_result: "{{abdomen_CT_result}}",
                    abdomen_CT_result_other: "{{abdomen_CT_result_other}}",
                    pelvic_MRI_result: "{{pelvic_MRI_result}}",
                    tumor_dist_from_anal: "{{tumor_dist_from_anal}}",
                    tumour_circle: "{{tumour_circle}}",
                    tumor_length: "{{tumor_length}}",
                    can_pass: "{{can_pass}}",
                    t_stage: "{{t_stage}}",
                    n_stage: "{{n_stage}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/radiology_colonoscopy?patient_id={{patient_id}}&page_index={{page_index}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.chest_CT_result=res.data.chest_CT_result;
                        this.chest_CT_result_other=res.data.chest_CT_result_other;
                        this.abdomen_CT_result=res.data.abdomen_CT_result;
                        this.abdomen_CT_result_other=res.data.abdomen_CT_result_other;
                        this.pelvic_MRI_result=res.data.pelvic_MRI_result;
                        this.tumor_dist_from_anal=res.data.tumor_dist_from_anal;
                        this.tumour_circle=res.data.tumour_circle;
                        this.tumor_length=res.data.tumor_length;
                        this.can_pass=res.data.can_pass;
                        this.t_stage=res.data.t_stage;
                        this.n_stage=res.data.n_stage;
                        if (this.chest_CT_result!="other") this.chest_CT_result_other = "";
                        if (this.abdomen_CT_result!="other") this.abdomen_CT_result_other = "";
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        chest_CT_result: this.chest_CT_result,
                        chest_CT_result_other: this.chest_CT_result_other,
                        abdomen_CT_result: this.abdomen_CT_result,
                        abdomen_CT_result_other: this.abdomen_CT_result_other,
                        pelvic_MRI_result: this.pelvic_MRI_result,
                        tumor_dist_from_anal: this.tumor_dist_from_anal,
                        tumour_circle: this.tumour_circle,
                        tumor_length: this.tumor_length,
                        can_pass: this.can_pass,
                        t_stage: this.t_stage,
                        n_stage: this.n_stage
                    };
                    this.$http.post('/radiology_colonoscopy?page_index={{page_index}}',data,{emulateJSON:true}).then(function(res){
                        window.location.href="/radiology_colonoscopy?patient_id={{patient_id}}&page_index={{page_index}}";
                    },function(res){
                        console.log(res.status);
                    });
                },
                remove:function(){
                    this.$http.get('/api/removePage?patient_id={{patient_id}}&page_index={{page_index}}&page_name=radiology_colonoscopy').then(function(res){
                        window.location.href="{% raw page_previous %}";
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>