<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

        <link href="/templates/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/templates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/templates/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="/templates/assets/css/style.css" rel="stylesheet">
        <link href="/templates/assets/css/style-responsive.css" rel="stylesheet">

        <script src="/templates/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <link rel="stylesheet" href="css/style_2036.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="top-menu">
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
                {% raw side_menu %}
            
              </ul>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>不良事件评价</h3>
                <hr>
            
                <form id="vm" v-on:submit="submit">
                    <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                    <div class="form-part">
                    <div class="block">
                        <h3>不良事件记录</h3>
                        <div>
                            <label class="form-label">不良事件类型:</label>
                            <el-select v-model="adverse_type" placeholder="请选择不良事件类型">
                                <el-option label="厌食" value="ae1"></el-option>
                                <el-option label="恶心呕吐" value="ae2"></el-option>
                                <el-option label="腹痛" value="ae3"></el-option>
                                <el-option label="腹泻" value="ae4"></el-option>
                                <el-option label="口腔黏膜炎" value="ae5"></el-option>
                                <el-option label="疲乏" value="ae6"></el-option>
                                <el-option label="脱发" value="ae7"></el-option>
                                <el-option label="发热不伴感染" value="ae8"></el-option>
                                <el-option label="感染" value="ae9"></el-option>
                                <el-option label="感觉异常" value="ae10"></el-option>
                                <el-option label="肢端麻木刺痛" value="ae11"></el-option>
                                <el-option label="疼痛" value="ae12"></el-option>
                                <el-option label="水肿" value="ae13"></el-option>
                                <el-option label="静脉炎" value="ae14"></el-option>
                                <el-option label="手足综合症" value="ae15"></el-option>
                                <el-option label="心律失常" value="ae16"></el-option>
                                <el-option label="血压异常" value="ae17"></el-option>
                                <el-option label="过敏反应(除皮疹)" value="ae18"></el-option>
                                <el-option label="皮疹" value="ae19"></el-option>
                                <el-option label="其他" value="ae20"></el-option>
                            </el-select>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">发生日期: </label>
                            <el-date-picker v-model="start_time" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">结束日期: </label>
                            <el-date-picker v-model="end_time" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">NCI-CTC分级: </label>
                            <input class="form-text" v-model="nci_ctc" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">采取措施:</label>
                            <input type="radio" id="continue" value="continue" v-model="disposal" >
                            <label for="continue">继续用药&nbsp;&nbsp;</label>
                            <input type="radio" id="reduce" value="reduce" v-model="disposal" >
                            <label for="reduce">减少用量&nbsp;&nbsp;</label>
                            <input type="radio" id="pause" value="pause" v-model="disposal" >
                            <label for="pause">暂停后继续用药&nbsp;&nbsp;</label>
                            <input type="radio" id="stop" value="stop" v-model="disposal" >
                            <label for="stop">停药&nbsp;&nbsp;</label>
                            <input type="radio" value="other" v-model="disposal" >
                            <label for="other">其他：&nbsp;</label>
                            <input type="text" class="form-text" v-model="disposal_other"  ><br/><br/>
                        </div>
                        <div>
                            <label class="form-label">转归:</label>
                            <input type="radio" id="disappear" value="disappear" v-model="outcome" >
                            <label for="disappear">消失&nbsp;&nbsp;</label>
                            <input type="radio" id="improve" value="improve" v-model="outcome" >
                            <label for="improve">改善&nbsp;&nbsp;</label>
                            <input type="radio" id="no_improve" value="no_improve" v-model="outcome" >
                            <label for="no_improve">无改善&nbsp;&nbsp;</label>
                            <input type="radio" id="aggravate" value="aggravate" v-model="outcome" >
                            <label for="aggravate">加重&nbsp;&nbsp;</label><br/><br/>
                        </div>
                        <div>
                            <label class="form-label">与研究药物关系:</label>
                            <input type="radio" id="must_related" value="must_related" v-model="drug_relation" >
                            <label for="must_related">肯定有关&nbsp;&nbsp;</label>
                            <input type="radio" id="maybe_related" value="maybe_related" v-model="drug_relation" >
                            <label for="maybe_related">可能有关&nbsp;&nbsp;</label>
                            <input type="radio" id="maybe_unrelated" value="maybe_unrelated" v-model="drug_relation" >
                            <label for="maybe_unrelated">可能无关&nbsp;&nbsp;</label>
                            <input type="radio" id="unrelated" value="unrelated" v-model="drug_relation" >
                            <label for="unrelated">无关&nbsp;&nbsp;</label>
                            <input type="radio" id="unknown" value="unknown" v-model="drug_relation" >
                            <label for="unknown">无法评定&nbsp;&nbsp;</label><br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                    <button class="remove" type="button" v-on:click="remove">删除</button>
                </div>    
            </form>
        
            </section>
      </section>

      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
        <script src="/templates/assets/js/fancybox/jquery.fancybox.js"></script>
        <script src="/templates/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/templates/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/templates/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/templates/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
        <script src="/templates/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript">
        $(function() {
            jQuery(".fancybox").fancybox();
        });
    </script>
    <script>
    var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    adverse_type: "{{adverse_type}}",
                    start_time: new Date(parseInt("{{start_time}}")*1000),
                    end_time: new Date(parseInt("{{end_time}}")*1000),
                    nci_ctc: "{{nci_ctc}}",
                    disposal: "{{disposal}}",
                    disposal_other: "{{disposal_other}}",
                    outcome: "{{outcome}}",
                    drug_relation: "{{drug_relation}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/adverse_event?patient_id={{patient_id}}&page_index={{page_index}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.adverse_type=res.data.adverse_type;
                        this.start_time=new Date(parseInt(res.data.start_time)*1000);
                        if (isNaN(this.start_time.getTime())) this.start_time="";
                        this.end_time=new Date(parseInt(res.data.end_time)*1000);
                        if (isNaN(this.end_time.getTime())) this.end_time="";
                        this.nci_ctc=res.data.nci_ctc;
                        this.disposal=res.data.disposal;
                        this.disposal_other=res.data.disposal_other;
                        this.outcome=res.data.outcome;
                        this.drug_relation=res.data.drug_relation;
                        if (this.disposal!="other") this.disposal_other = "";
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    if (this.start_time!="") this.start_time=this.start_time.getTime()/1000;
                    if (this.end_time!="") this.end_time=this.end_time.getTime()/1000;
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        adverse_type: this.adverse_type,
                        start_time: this.start_time,
                        end_time: this.end_time,
                        nci_ctc: this.nci_ctc,
                        disposal: this.disposal,
                        disposal_other: this.disposal_other,
                        outcome: this.outcome,
                        drug_relation: this.drug_relation
                    };
                    this.$http.post('/adverse_event?page_index={{page_index}}',data,{emulateJSON:true}).then(function(res){
                        window.location.href="/adverse_event?patient_id={{patient_id}}&page_index={{page_index}}";
                    },function(res){
                        console.log(res.status);
                    });
                },
                remove:function(){
                    this.$http.get('/api/removePage?patient_id={{patient_id}}&page_index={{page_index}}&page_name=adverse_event').then(function(res){
                        window.location.href="{% raw page_previous %}";
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>