<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

        <link href="/templates/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/templates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/templates/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="/templates/assets/css/style.css" rel="stylesheet">
        <link href="/templates/assets/css/style-responsive.css" rel="stylesheet">

        <script src="/templates/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <link rel="stylesheet" href="css/style_2036.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="top-menu">
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
                {% raw side_menu %}
            
              </ul>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>基本信息</h3>
                <hr>
            
                <form id="vm" v-on:submit="submit">
                    <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                    <div class="form-part">
                    <div class="block">
                        <h3>人口学信息</h3>
                        <div>
                            <label class="form-label">姓名: </label>
                            <input class="form-text" v-model="name" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">性别:</label>
                            <input type="radio" id="男" value="男" v-model="sex" >
                            <label for="男">男&nbsp;&nbsp;</label>
                            <input type="radio" id="女" value="女" v-model="sex" >
                            <label for="女">女&nbsp;&nbsp;</label><br/><br/>
                        </div>
                        <div>
                            <label class="form-label">年龄: </label>
                            <input class="form-number" type="number" v-model.number="age" >
                            <label>&nbsp;岁</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">初诊日期: </label>
                            <el-date-picker v-model="first_consult_date" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <!-- <div>
                            <label class="form-label">性别:</label>
                            <input type="radio" id="male" value="male" v-model="gender" >
                            <label for="male">男&nbsp;&nbsp;</label>
                            <input type="radio" id="female" value="female" v-model="gender" >
                            <label for="female">女&nbsp;&nbsp;</label><br/><br/>
                        </div> -->
                        <div>
                            <label class="form-label">出生日期: </label>
                            <el-date-picker v-model="birth_date" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">RT号: </label>
                            <input class="form-text" v-model="rt_num" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">住院号: </label>
                            <input class="form-text" v-model="patient_num" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">身高: </label>
                            <input class="form-number" type="number" v-model.number="height" >
                            <label>&nbsp;cm</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">体重: </label>
                            <input class="form-number" type="number" v-model.number="weight" >
                            <label>&nbsp;kg</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">体表面积: </label>
                            <input class="form-number" type="number" v-model.number="tibiao_area" >
                            <label>&nbsp;m2</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">KPS评分: </label>
                            <input class="form-number" type="number" v-model.number="kps" >
                            <label>&nbsp;</label>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">ECOG体力状况评分(PS):</label>
                            <input type="radio" id="zero" value="zero" v-model="ECOG" >
                            <label for="zero">0&nbsp;&nbsp;</label>
                            <input type="radio" id="one" value="one" v-model="ECOG" >
                            <label for="one">1&nbsp;&nbsp;</label>
                            <input type="radio" id="two" value="two" v-model="ECOG" >
                            <label for="two">2&nbsp;&nbsp;</label><br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                    <button class="remove" type="button" v-on:click="remove">删除</button>
                </div>    
            </form>
        
            </section>
      </section>

      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
        <script src="/templates/assets/js/fancybox/jquery.fancybox.js"></script>
        <script src="/templates/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/templates/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/templates/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/templates/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
        <script src="/templates/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript">
        $(function() {
            jQuery(".fancybox").fancybox();
        });
    </script>
    <script>
    var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    name: "{{name}}",
                    sex: "{{sex}}",
                    age: "{{age}}",
                    first_consult_date: new Date(parseInt("{{first_consult_date}}")*1000),
                    gender: "{{gender}}",
                    birth_date: new Date(parseInt("{{birth_date}}")*1000),
                    rt_num: "{{rt_num}}",
                    patient_num: "{{patient_num}}",
                    height: "{{height}}",
                    weight: "{{weight}}",
                    tibiao_area: "{{tibiao_area}}",
                    kps: "{{kps}}",
                    ECOG: "{{ECOG}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/base?patient_id={{patient_id}}&page_index={{page_index}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.name=res.data.name;
                        this.sex=res.data.sex;
                        this.age=res.data.age;
                        this.first_consult_date=new Date(parseInt(res.data.first_consult_date)*1000);
                        if (isNaN(this.first_consult_date.getTime())) this.first_consult_date="";
                        this.gender=res.data.gender;
                        this.birth_date=new Date(parseInt(res.data.birth_date)*1000);
                        if (isNaN(this.birth_date.getTime())) this.birth_date="";
                        this.rt_num=res.data.rt_num;
                        this.patient_num=res.data.patient_num;
                        this.height=res.data.height;
                        this.weight=res.data.weight;
                        this.tibiao_area=res.data.tibiao_area;
                        this.kps=res.data.kps;
                        this.ECOG=res.data.ECOG;
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    if (this.first_consult_date!="") this.first_consult_date=this.first_consult_date.getTime()/1000;
                    if (this.birth_date!="") this.birth_date=this.birth_date.getTime()/1000;
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        name: this.name,
                        sex: this.sex,
                        age: this.age,
                        first_consult_date: this.first_consult_date,
                        gender: this.gender,
                        birth_date: this.birth_date,
                        rt_num: this.rt_num,
                        patient_num: this.patient_num,
                        height: this.height,
                        weight: this.weight,
                        tibiao_area: this.tibiao_area,
                        kps: this.kps,
                        ECOG: this.ECOG
                    };
                    this.$http.post('/base?page_index={{page_index}}',data,{emulateJSON:true}).then(function(res){
                        window.location.href="/base?patient_id={{patient_id}}&page_index={{page_index}}";
                    },function(res){
                        console.log(res.status);
                    });
                },
                remove:function(){
                    this.$http.get('/api/removePage?patient_id={{patient_id}}&page_index={{page_index}}&page_name=base').then(function(res){
                        window.location.href="{% raw page_previous %}";
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>