<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>数据库系统</title>

        <link href="/templates/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/templates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/templates/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="/templates/assets/css/style.css" rel="stylesheet">
        <link href="/templates/assets/css/style-responsive.css" rel="stylesheet">

        <script src="/templates/assets/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vue-resource.js"></script>

    <link rel="stylesheet" href="css/style_2036.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="#" class="logo"><b>数据库系统</b></a>
            <div class="top-menu">
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
                {% raw side_menu %}
            
              </ul>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>伴随用药记录</h3>
                <hr>
            
                <form id="vm" v-on:submit="submit">
                    <input type="text" value="{{patient_id}}" v-model="patient_id" v-show="false"></input>
                    <div class="form-part">
                    <div class="block">
                        <h3>伴随用药记录</h3>
                        <div>
                            <label class="form-label">药名: </label>
                            <input class="form-text" v-model="drug" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">开始日期: </label>
                            <el-date-picker v-model="start_time" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">结束日期: </label>
                            <el-date-picker v-model="end_time" type="date" placeholder="Pick a day" ></el-date-picker>
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">剂量: </label>
                            <input class="form-text" v-model="dose" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">用法: </label>
                            <input class="form-text" v-model="method" >
                            <br/><br/>
                        </div>
                        <div>
                            <label class="form-label">使用原因: </label>
                            <input class="form-text" v-model="reason" >
                            <br/><br/>
                        </div>
                    </div></div>
                <div class="form-part-3">
                    <input type="submit" value="提交">
                    <button class="remove" type="button" v-on:click="remove">删除</button>
                </div>    
            </form>
        
            </section>
      </section>

      <footer class="site-footer">
          <div class="text-center">
              2020 - Fan
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
        <script src="/templates/assets/js/fancybox/jquery.fancybox.js"></script>
        <script src="/templates/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/templates/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/templates/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/templates/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
        <script src="/templates/assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript">
        $(function() {
            jQuery(".fancybox").fancybox();
        });
    </script>
    <script>
    var vm = new Vue({
            el: '#vm',
            data: {
                    patient_id: "{{patient_id}}",
                    drug: "{{drug}}",
                    start_time: new Date(parseInt("{{start_time}}")*1000),
                    end_time: new Date(parseInt("{{end_time}}")*1000),
                    dose: "{{dose}}",
                    method: "{{method}}",
                    reason: "{{reason}}"
            },
            mounted(){
                this.init()
            },
            methods:{
                init:function(){
                    this.$http.get('/api/concomitant_medication?patient_id={{patient_id}}&page_index={{page_index}}').then(function(res){
                        this.patient_id=res.data.patient_id;
                        this.drug=res.data.drug;
                        this.start_time=new Date(parseInt(res.data.start_time)*1000);
                        if (isNaN(this.start_time.getTime())) this.start_time="";
                        this.end_time=new Date(parseInt(res.data.end_time)*1000);
                        if (isNaN(this.end_time.getTime())) this.end_time="";
                        this.dose=res.data.dose;
                        this.method=res.data.method;
                        this.reason=res.data.reason;
                    },function(){
                        console.log('error');
                    });
                },
                submit: function(event) {
                    event.preventDefault();
                    if (this.start_time!="") this.start_time=this.start_time.getTime()/1000;
                    if (this.end_time!="") this.end_time=this.end_time.getTime()/1000;
                    var
                    $form = $('#vm'),
                    data = {
                        patient_id: this.patient_id,
                        drug: this.drug,
                        start_time: this.start_time,
                        end_time: this.end_time,
                        dose: this.dose,
                        method: this.method,
                        reason: this.reason
                    };
                    this.$http.post('/concomitant_medication?page_index={{page_index}}',data,{emulateJSON:true}).then(function(res){
                        window.location.href="/concomitant_medication?patient_id={{patient_id}}&page_index={{page_index}}";
                    },function(res){
                        console.log(res.status);
                    });
                },
                remove:function(){
                    this.$http.get('/api/removePage?patient_id={{patient_id}}&page_index={{page_index}}&page_name=concomitant_medication').then(function(res){
                        window.location.href="{% raw page_previous %}";
                    },function(res){
                        console.log(res.status);
                    });
                }
            }
        });
    </script>
</body>
</html>